<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>



    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css" type="text/css">

    <link rel="stylesheet/less" href="css/style.scss">
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/less.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>



</head>

<body class="app-body">
    <div class="app">
        <header>
            <div class="app-left">
                <a class="app-nav_item_top" href="#1"><img src="svg/Avatar.svg" alt="" class="icon-avatar"></i>
                </a>
                <ul class="app-nav">

                    <li> <a class="app-nav_item_active" href="#1"><i class='uil uil-files-landscapes'></i></a></li>
                    <li> <a class="app-nav_item" href="#1"><i class='uil uil-comment-share'></i></a></li>
                    <li> <a class="app-nav_item" href="#1"><i class='uil uil-user'></i></a></li>
                    <li> <a class="app-nav_item" href="#1"><i class='uil uil-graph-bar'></i></a></li>
                    <li> <a class="app-nav_item" href="#1"><i class='uil uil-cog'></i></a></li>
                    <li> </li>
                </ul>
                <a class="app-nav_item_bottom" href="#1"><img src="svg/Avatar.svg" alt="" class="icon-avatar"></i>
                </a>
            </div>

        </header>

        <aside class="app-sidebar">
            <div class="team">
                <div class="col-12">
                    <h3>Marketing team <br> <span>17 members</span></h3>
                    <div class="i"><i class='uil uil-angle-down'></i></div>

                </div>
                <div class="clear"></div>
            </div>
            <div class="storage">
                <div class="col-12">
                    <h3>Storage </h3>
                    <div class="i"> <i class='uil uil-angle-up'></i></div>

                    <ul class="storage_ul">
                        <li><a class="a_active" href="">My Files</a>

                            <ul class="storage_ul_li_ul">
                                <li>
                                    <a href="">
                                        <i class='uil uil-angle-right'></i> <i class='uil uil-folder'></i> <span class="span">Analytics</span></a>
                                </li>
                                <li><a href=""><i class='uil uil-angle-right'></i><i class='uil uil-folder'></i>  <span class="span">Assets</span></a></li>
                                <li><a href=""><i class='uil uil-angle-right'></i><i class='uil uil-folder'></i>  <span class="span">Marketing</span></a></li>
                                <li><a href=""><i class='uil uil-angle-right'></i><i class='uil uil-folder'></i>  <span class="span">Templates</span></a></li>
                                <li><a href=""><i class='uil uil-angle-right'></i><i class='uil uil-folder'></i>  <span class="span">Projects</span></a></li>
                                <li><a href=""><i class='uil uil-angle-right'></i><i class='uil uil-folder'></i>  <span class="span">Projector Cources</span></a></li>
                            </ul>

                        </li>
                        <li><a class="a" href="">Shared with me</a></li>
                        <li><a class="a" href="">Recent</a></li>
                        <li><a class="a" href="">Starred</a></li>
                        <li><a class="a" href="">Trash</a> </li>
                    </ul>

                </div>
                <div class="clear"></div>
            </div>

            <div class="btm">
                <div class="col-12 ">
                    <div class="folders">

                        <ul class="folders_ul ">
                            <li>
                                <a class="folder_t" href="">
                                    <i class='uil uil_slive uil-folder'></i> <span class="span">Analystics</span></a>
                            </li>
                            <li><a href=""><i class='uil uil_slive uil-file-alt'></i> <span class="span">Assets</span><i class='uil uil-angle-right'></i> </a></li>
                            <li><a href=""><i class='uil uil_slive uil-presentation-play'></i> <span class="span">Assets</span><i class='uil  uil-angle-right'></i> </a></li>
                            <li><a href=""><i class='uil uil_slive uil-table'></i> <span class="span">Assets</span><i class='uil  uil-angle-right'></i> </a></li>
                            <li><a href=""><i class='uil uil_slive uil-ellipsis-h'></i> <span class="span">Assets</span><i class='uil  uil-angle-right'></i> </a></li>
                        </ul>


                    </div>
                </div>
                <div class="col-12 ">
                    <div class="creat_new">


                        <a class="folder_t" href=""><span class="span">Analystics</span> <div class="i"><i class='uil uil-plus'></i></div>  </a>



                    </div>
                </div>
            </div>
        </aside>

        <main class="app-content">
            <div class="container">
                <div class="row">
                    <div class="aa col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="app-search">
                                <form action="" method="post">

                                    <input type="search" placeholder="Search rge file">
                                    <button><i class='uil uil-search'></i></button>
                                </form>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="app-drives">
                                <div class="row">
                                    <div class="col-sm ">
                                        <div class="app-drive ">
                                            <div class="icon"><i class='uil uil-google-drive'></i></div>
                                            <div class="ellipsis"><i class='uil uil_slive uil-ellipsis-h'></i></div>
                                            <h3>Google Drive</h3>
                                            <div class="bar google">
                                                <div class="left">45.5GB</div>
                                                <div class="right">50GB</div>
                                                <div class="space">
                                                    <div class="get"></div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm ">
                                        <div class="app-drive ">
                                            <div class="icon"><i class='uil uil-dropbox'></i></div>
                                            <div class="ellipsis"><i class='uil uil_slive uil-ellipsis-h'></i></div>
                                            <h3>Dropbox</h3>
                                            <div class="bar Dropbox">
                                                <div class="left">1.2GB</div>
                                                <div class="right">3GB</div>
                                                <div class="space">
                                                    <div class="get"></div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm ">
                                        <div class="app-drive ">
                                            <div class="icon"><i class='uil uil-clouds'></i></div>
                                            <div class="ellipsis"><i class='uil uil_slive uil-ellipsis-h'></i></div>
                                            <h3>OneDrive</h3>
                                            <div class="bar OneDrive">
                                                <div class="left">2.5GB</div>
                                                <div class="right">3GB</div>
                                                <div class="space">
                                                    <div class="get"></div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="app_folders">
                                    <div class="title">
                                        <h2><b>Folder</b> </h2>
                                        <a href=""><span> view all</span></a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="fold">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <div class="icon"><i class='uil uil-folder'></i></div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <div class="imgs">
                                                <div class="img m1"><img src="SVG/Avatar.svg" alt=""></div>
                                                <div class="img m2"><img src="SVG/Avatar.svg" alt=""></div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="clear"></div>

                                    <h3>Analytics </h3>
                                    <span>15 files</span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="fold">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <div class="icon"><i class='uil uil-folder'></i></div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <div class="imgs">
                                                <div class="img m1"><img src="SVG/Avatar.svg" alt=""></div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="clear"></div>

                                    <h3>Assets </h3>
                                    <span>354 files</span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="fold">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <div class="icon"><i class='uil uil-folder'></i></div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <div class="imgs">
                                                <div class="img m1"><img src="SVG/Avatar.svg" alt=""></div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="clear"></div>

                                    <h3>Marketing </h3>
                                    <span>143 files</span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="app_folders">
                                    <div class="title">
                                        <h2><b>Recent Files</b> </h2>
                                        <a href=""><span> view all</span></a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <table style="width:100%">
                                    <tr>
                                        <th>Name<i class='uil uil-arrow-up'></i></th>
                                        <th>Members</th>
                                        <th>Last Modified</th>
                                        <th></th>
                                    </tr>
                                    <tr class="tr">
                                        <td>
                                            <div class="icon pdf"> <b>PDF</b> </div>
                                            <span>Competitor Analysis Template</span>
                                        </td>
                                        <td>Only you</td>
                                        <td>Sep 3, 2019</td>
                                        <td><a href=""><i class='uil uil_slive uil-ellipsis-h'></i></a> </td>

                                    </tr>
                                    <tr class="tr">
                                        <td>
                                            <div class="icon txt"> <b><i class='uil uil-subject'></i></b> </div>
                                            <span>Competitor Analysis Template</span>
                                        </td>
                                        <td>Only you</td>
                                        <td>Sep 3, 2019</td>
                                        <td><a href=""><i class='uil uil_slive uil-ellipsis-h'></i></a> </td>

                                    </tr>
                                    <tr class="tr">
                                        <td>
                                            <div class="icon txt"> <b><i class='uil uil-subject'></i></b> </div>
                                            <span>Competitor Analysis Template</span>
                                        </td>
                                        <td>Only you</td>
                                        <td>Sep 3, 2019</td>
                                        <td><a href=""><i class='uil uil_slive uil-ellipsis-h'></i></a> </td>

                                    </tr>
                                    <tr class="tr">
                                        <td>
                                            <div class="icon pdf"> <b>PDF</b> </div>
                                            <span>Competitor Analysis Template</span>
                                        </td>
                                        <td>Only you</td>
                                        <td>Sep 3, 2019</td>
                                        <td><a href=""><i class='uil uil_slive uil-ellipsis-h'></i></a> </td>

                                    </tr>
                                    <tr class="tr">
                                        <td>
                                            <div class="icon zip"> <b>ZIP</b> </div>
                                            <span>Competitor Analysis Template</span>
                                        </td>
                                        <td>Only you</td>
                                        <td>Sep 3, 2019</td>
                                        <td><a href=""><i class='uil uil_slive uil-ellipsis-h'></i></a> </td>

                                    </tr>
                                    <tr class="tr">
                                        <td>
                                            <div class="icon txt"> <b><i class='uil uil-subject'></i></b> </div>
                                            <span>Competitor Analysis Template</span>
                                        </td>
                                        <td>Only you</td>
                                        <td>Sep 3, 2019</td>
                                        <td><a href=""><i class='uil uil_slive uil-ellipsis-h'></i></a> </td>

                                    </tr>
                                </table>
                            </div>
                        </div>











                    </div>
                    <div class="bb col-sm-4 col-md-8 col-lg-4 col-xl-4">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="gb">
                                <strong class="left">45.5GB</strong><strong class="right">50GB</strong>
                                <div class="bar">
                                    <span class="left">Used</span><span class="right">Upgrade</span>
                                    <div class="bar-space">
                                        <div class="bar-full">
                                            <div class="bar-mdieum">
                                                <div class="bar-nrml"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="lst">
                                <a href="">
                                    <div class="left">
                                        <div class="icon img"><i class='uil uil-image'></i></div>
                                        <h4><b>Images</b> <br> <span>1,756 files</span></h4>
                                    </div>
                                    <div class="right">
                                        <div class="espace"><strong>15.3 GB</strong></div>
                                    </div>

                                </a>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="lst">
                                <a href="">
                                    <div class="left">
                                        <div class="icon imgdoc"><i class='uil uil-file-alt'></i></div>
                                        <h4><b>Documents</b> <br> <span>123 files</span></h4>
                                    </div>
                                    <div class="right">
                                        <div class="espace"><strong>256 MB</strong></div>
                                    </div>

                                </a>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="lst">
                                <a href="">
                                    <div class="left">
                                        <div class="icon imgmed"><i class='uil uil-film'></i></div>
                                        <h4><b>Media Files</b> <br> <span>24 files</span></h4>
                                    </div>
                                    <div class="right">
                                        <div class="espace"><strong>3.4 GB</strong></div>
                                    </div>

                                </a>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="lst">
                                <a href="">
                                    <div class="left">
                                        <div class="icon imgoth"><i class='uil uil-file-exclamation'></i><i class='uil uil-file-question-alt'></i></div>
                                        <h4><b>Other Files</b> <br> <span>454 files</span></h4>
                                    </div>
                                    <div class="right">
                                        <div class="espace"><strong>3 GB</strong></div>
                                    </div>

                                </a>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="lst">
                                <a href="">
                                    <div class="left">
                                        <div class="icon imgunk"><i class='uil uil-file-question-alt'></i></div>
                                        <h4><b>Unknown Files</b> <br> <span>57 files</span></h4>
                                    </div>
                                    <div class="right">
                                        <div class="espace"><strong>175 MB</strong></div>
                                    </div>

                                </a>

                            </div>
                        </div>



                    </div>

                    <div class="notification">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <img src="img/office-working-area-1707985-1447937.png" alt="">

                                <div class="ntf">
                                    <h3>Upgrade account!</h3>
                                    <p>5 integrations, 30 team members advanced features for teams.</p>
                                </div>
                                <div class="a">
                                    <a href="">Upgrade</a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>



        </main>
    </div>


</body>

</html>